div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin: auto;
    height: 100%;
    width: 90%;
}
.gradient_1{
   background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.gradient_2{
background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.gradient_3{
    background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.gradient_4{
background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
.gradient_5{
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.gradient_6{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.gradient_7{
    
}
.gradient_8{
    
}
.gradient_9{
    
}
.gradient_10{
    
}
.gradient_11{
    
}
.gradient_12{
    
}
.gradient_13{
    
}
.gradient_14{
    
}
.gradient_15{
    
}
.gradient_16{
    
}
.gradient_17{
    
}
.gradient_18{
    
}
.gradient_19{
    
}
.gradient_20{
    
}
.gradient_21{
    
}
.gradient_22{
    
}
.gradient_23{
    
}
.gradient_24{
    
}
.gradient_25{
    
}
.gradient_26{
    
}
.gradient_27{
    
}
.gradient_28{
    
}
.gradient_29{
    
}
.gradient_30{
    
}
/*
#gradient_31{
    
}
#gradient_32{
    
}
#gradient_33{
    
}
#gradient_34{
    
}
#gradient_35{
    
}
#gradient_36{
    
}
#gradient_37{
    
}
#gradient_38{
    
}
#gradient_39{
    
}
#gradient_40{
    
}
#gradient_41{
    
}
#gradient_42{
    
}
#gradient_43{
    
}
*/
